:root {
  --background: #cfe4dd;
  --blue-color: #577aa0;
  --white: #e9f3f0;
  --light-browm: #b19b89;
}
body {
  background-color: var(--background);
}
#payment {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}
header,
nav,
article {
  font-family: "Roboto", sans-serif;
  margin: auto;
  width: 100%;
  align-items: center;
  margin-top: 15px;
}
.body {
  margin: 0 28%;
}
header h2,
h1 {
  font-family: "Poppins", sans-serif;
  width: fit-content;
  margin: auto;
}
header h2,
article h2 {
  color: var(--blue-color);
  font-size: 28px;
}
article h2,
article h3 {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-weight: 400;
}
header h1 {
  color: var(--white);
  background-color: var(--light-browm);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-size: 36px;
  border-radius: 12px;
  border: 2px dashed #dad2cc;
}
.header-h1 {
  margin-top: 20px;
  padding: 12px;
  background-color: var(--light-browm);
  width: 100%;
  border-radius: 12px;
}
nav {
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: var(--blue-color);
  padding: 12px;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav {
  background-color: transparent;
  border: 0;
  color: var(--white);
  width: auto;
  font-size: 28px;
  border-right: 2px solid var(--white);
  padding: 10px 30px;
  transition: 200ms;
}
.nav,
#ver-lista,
.card button {
  position: relative;
  overflow: hidden;
  transition: 400ms;
}
span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}
@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
.nav:hover {
  background-color: rgba(238, 246, 247, 0.1);
  cursor: pointer;
}
.nav:nth-of-type(1) {
  border-radius: 12px 0px 0px 12px;
}
.nav:last-of-type {
  border-radius: 0px 12px 12px 0px;
  border-right: none;
}
#big-bg {
  height: 300px;
  /* background-color: var(--blue-color); */
  width: calc(100% + 24px);
  background-size: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#ver-lista {
  display: block;
  background-color: #7f9ab7;
  color: var(--white);
  cursor: pointer;
  border: 0;
  align-items: center;
  padding: 12px;
  font-size: 24px;
  border-radius: 12px;
  width: fit-content;
  margin: auto;
  transition: 500ms;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

article {
  margin-bottom: 50px;
  transition: 200ms;
}
#ver-lista:hover {
  background-color: var(--blue-color);
}
.hide {
  width: 0;
  margin: 0;
  padding: 0;
  display: none;
}
#lista h1 {
  color: var(--blue-color);
  font-size: 32px;
}
#cards {
  padding: 12px;
  width: 70%;
  margin: auto;
  display: grid;
  column-gap: 2%;
  grid-template-columns: 23% 23% 23% 23%;
  row-gap: 2%;
  margin-bottom: 100px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-bottom: 20px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 300ms;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.card img {
  margin: auto;
  width: 80%;
}
.card h2 {
  font-size: 18px;
  margin-bottom: 0;
}
.card h3 {
  color: var(--blue-color);
  font-weight: bold;
}
.card button {
  background-color: var(--light-browm);
  color: var(--white);
  padding: 8px;
  border-radius: 4px;
  border: 0;
  font-size: 18px;
  cursor: pointer;
  transition: 200ms;
  width: 100%;
}
.card button:hover {
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: 200ms;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
