@media only screen and (max-width: 1330px) {
  header h4 {
    right: 30%;
  }
}
@media only screen and (max-width: 945px) {
  header h4 {
    right: 25%;
  }
}
@media only screen and (max-width: 750px) {
  header h4 {
    right: 20%;
  }
}
@media only screen and (max-width: 600px) {
  header h4 {
    right: 10%;
  }
}
@media only screen and (max-width: 450px) {
  header h4 {
    right: 2%;
    top: 2%;
    font-size: 10px;
  }
}
@media only screen and (max-width: 300px) {
  header h4 {
    display: hidden;
    color: transparent;
    background-color: transparent;
  }
}
